$icomoon-font-family: "aemo-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-filter: unquote('"\\e909"');
$icon-help: unquote('"\\e90a"');
$icon-required: unquote('"\\e908"');
$icon-arrow: unquote('"\\e900"');
$icon-chat-bubble: unquote('"\\e901"');
$icon-chevron: unquote('"\\e902"');
$icon-close: unquote('"\\e903"');
$icon-hamburger: unquote('"\\e904"');
$icon-search: unquote('"\\e905"');
$icon-tick: unquote('"\\e906"');
$icon-videocam: unquote('"\\e907"');
$icon-location: unquote('"\\e90b"');
$icon-close-solid: unquote('"\\e90c"');
$icon-fullscreen: unquote('"\\e90d"');
$icon-home: unquote('"\\e90e"');
$icon-minus: unquote('"\\e90f"');
$icon-plus: unquote('"\\e910"');

