.blog-list {
  display: flex;
  border: 2px solid #dacccc33;
  border-radius: 3px;
  margin-bottom: 12px;

  > a {
    text-align: center;
    width: 40%;
    background: #f2f2f2;
    display: inline-flex;
  }
}

.blog-list-img {
  max-width: 100%;
}

.blog-content {
  width: 60%;
  padding: 15px;

  h3 {
    color: #222222;
  }
}
