.NewsSection {
  text-align: center;
}

.NewsSection-head {
  padding-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  h2 {
    color: #1f509e;
  }  
}

.NewsSection-featured {
  display: flex;
  padding: 20px;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}

.NewsSection-featured-card {
  width: 320px;
  border: #f7f5f5 solid;
  margin: 4px 15px;

  img {
    height: 210px;    
    object-fit: cover;
    inline-size: max-content;
  }
}

.NewsSection-featured-content {
  padding: 16px;

  > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  h3 {
    color: #1f509e;
    padding: 10px 0 10px 0;
  }

  .category {
    display: block;
    padding-top: 10px;
    font-weight: bold;
    color: #00a791;
  }
}

.newssection-readmore {
  color: #00a791;
}