.about-team-section {
  background: #f7f7f7;
  text-align: center;
}

.team-head-section {
  padding-top: 64px;
  width: auto;
  max-width: 920px;
  margin: auto;
}

.team-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 35px;
  margin: 5px;
}

.team-details {
  padding: 0px 15px;
}
