.member-main-section {
  background: #f7f7f7;
  margin: auto;
  padding: 34px;
}

.member-head {
  text-align: center;
  
  h2 {
   color: #1f509e; 
  }  
}

.member-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 27px;
  text-align: center;
  margin-top: 43px;
}

.content-section {
  width: 350px;
  padding-bottom: 2rem;

  img {
    max-width: 405px;
    max-height: 201px;
  }

  h3 {
    color: #00a791;
    font-size: 18px;
    line-height: 42px;
  }

  a {
    font-weight: bold;
    color: #1f509e;   
  }
}
