

body {
    font-family: Inter, sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: 22px;

    h1 {
        font-size: 44px;
        line-height: 56px;
    }

    h2 {
        font-size: 28px;
        line-height: 34px;
    }

    h3, h4 {
        font-size: 18px;
        line-height: 24px;
    }

    a {
        text-decoration: none;
        color: #222222;
    }

    p {
        color: #173274;
    }    
}

.max-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.col-half {
  margin: auto;
}

.col-quarter {
  display: inline-block;
  margin: auto 0;
}

nav {
	ul {
		list-style: none;
		padding: 0;
		margin: auto;
		li {
			display: inline-block;
			padding: 23px 30px;
			letter-spacing: 0.2px;
			text-transform: capitalize;

			a {
				font-weight: 600;
			}
		}
	}
}

.hero-content, .home-content {
	 text-align: left;
	 margin-top: 65px;
	 width: 475px;
}
 .home-content p {
	 margin-bottom: 32px;
}
