.blog-page-banner {
    background: #715cdd;
    text-align: center;
}

.hero-description {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin-bottom: 40px;
    color: #ffffff;
}