footer {
  margin-top: 75px;
  background: #1f509e;
}

footer a {
  color: #222222;
  padding: 12px;
}

.footer-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 25px;

  .columns {
    columns: 250px 3;
    column-rule: 1px dotted #ccc;
    column-gap: 3em;
    max-width: 60em;
  }
}

.footer-logo {
  margin: 0;
}

.social-link{
  margin: 0;
  
  img {
    width: 35px;
    height: 35px;
  }
}

.phone {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.4rem;
  color: #FFF;

  img {
    width: 35px;
    height: 35px;
    padding-right: 10px;
  }
}

.footer-nav-li {
  padding: 0;
  display: block;
  
  a {
    color: #FFF;
    font-weight: normal;
  }
}

.copyright {
  padding: 20px;
  text-align: center;

  p {
    color: #FFF;
  }
}