.SectionWithCards {
  background: #f7f7f7;
  text-align: center;
  padding: 20px;
}

.demo-section {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  flex-wrap: wrap;
}

.cards {
  width: 410px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 15px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;

  h3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
